In [10]:
import pandas as pd
_train_df = pd.read_csv('./train_unagg.csv')
_test_df = pd.read_csv('./test_unagg.csv')
df = _train_df.append(_test_df)
df = df[['operation', 'account_id', 'trans_amount', 'balance', 'loan_amount', 'payments']]

df['operation'].to_csv('asdasd.csv')

In [11]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['operation'] = le.fit_transform(df['operation'])

In [12]:
from sklearn.cluster import KMeans, MiniBatchKMeans
from sklearn_extra.cluster import KMedoids 

kmeans = KMeans(n_clusters=4, random_state=42)
kmeans.fit(df)
kmeans.labels_.shape

(54694,)

In [13]:
from agg import *
df['cluster'] = kmeans.labels_
df = df.groupby('cluster').agg({
    'operation': [ccount_collection_op, ccount_remittance_op, ccount_ccw_op, ccount_interest_op, ccount_credit_op, ccount_withdrawal_op],
    'loan_amount': 'mean'
})

df.head()

                   operation                                     \
        ccount_collection_op ccount_remittance_op ccount_ccw_op
cluster
0                       1046                 3850            51
1                        824                 1786             6
2                        158                  540             4
3                        559                 1232            16

                                                                  \
        ccount_interest_op ccount_credit_op ccount_withdrawal_op
cluster
0                     4539             4709                11628
1                     2591             2708                 7266
2                      697              782                 1844
3                     1634             1611                 4613

           loan_amount
                  mean
cluster
0         60000.930333
1        159979.444569
2        425070.878012
3        277331.092395