In [1]:
import pandas as pd

accounts = pd.read_csv('data/account.csv', sep=';')
accounts.count()

account_id     4500
district_id    4500
frequency      4500
date           4500
dtype: int64

In [2]:
accounts.head()

   account_id  district_id         frequency    date
0         576           55  monthly issuance  930101
1        3818           74  monthly issuance  930101
2         704           55  monthly issuance  930101
3        2378           16  monthly issuance  930101
4        2632           24  monthly issuance  930102

In [3]:
clients = pd.read_csv('data/client.csv', sep=';')
clients.head()

   client_id  birth_number  district_id
0          1        706213           18
1          2        450204            1
2          3        406009            1
3          4        561201            5
4          5        605703            5

In [8]:
def is_female(number):
    return str(number)[2] == '5' or str(number)[2] == '6'

# Return the number of male and female clients (male, female)
def clients_by_gender():
    def female(number):
        return is_female(number)
    def male(number):
        return not female(number)

    birth_number = clients.birth_number
    
    return (clients[birth_number.map(male)].shape[0], clients[birth_number.map(female)].shape[0])

clients_by_gender()

dtype('int64')

In [5]:
# Get unique district IDs
clients.district_id.unique()

array([18,  1,  5, 12, 15, 51, 60, 57, 40, 54, 76, 21, 47, 46, 43, 74, 30,
       68, 52, 73,  7, 36, 22, 75, 38, 20, 19, 16, 72, 39, 32, 64, 45, 67,
       77,  4, 50, 29, 70, 37,  8, 63,  3, 26, 33, 44, 31, 17,  2, 55, 41,
       35, 11, 53,  6, 27, 65, 13, 34, 24, 10, 58, 28, 59, 66, 71, 48, 69,
       61, 56, 25, 49, 14, 62, 42, 23,  9])

In [6]:
# Get which clients live in a given district
clients.groupby('district_id')[['client_id', 'birth_number']].apply(lambda item: item.values.tolist())

district_id
1     [[2, 450204], [3, 406009], [22, 696011], [23, ...
2     [[110, 675413], [150, 805927], [312, 240703], ...
3     [[93, 250216], [324, 601203], [325, 600221], [...
4     [[63, 590604], [176, 290311], [205, 425615], [...
5     [[4, 561201], [5, 605703], [40, 575122], [465,...
                            ...
73    [[33, 486204], [180, 820119], [256, 635227], [...
74    [[26, 695420], [30, 576009], [92, 665612], [96...
75    [[43, 201028], [316, 550428], [397, 300327], [...
76    [[14, 425622], [17, 341013], [18, 315405], [47...
77    [[62, 321208], [185, 540530], [224, 550511], [...
Length: 77, dtype: object

In [7]:
# Get the number of people who live in a given district
clients.groupby('district_id')['client_id'].apply(len)

district_id
1     663
2      46
3      63
4      50
5      71
     ...
73     60
74    180
75     56
76     61
77     50
Name: client_id, Length: 77, dtype: int64